In [20]:
import numpy as np
import pandas as pd 
 
M = 10
N = 1000000
dT = 0.3

# M = 2
# N = 10
 
df = pd.DataFrame({'feature1':np.random.randint(M, size=(N,)),
                   'feature2':np.random.randint(M, size=(N,)),
                   'time':np.random.rand(N)
                   })
 
df.to_csv('./incidents.csv', index_label='id')

In [593]:
import sys
import numpy as np
import pandas as pd 

def incidents(input_path, output_path, dT=0.3):
    df = pd.read_csv(input_path, index_col='id')
    df['feature3'] = (df.feature1 * 100).astype('str') + df.feature2.astype('str')
    df = df.loc[:,['time','feature3']]
    df_sorted = df.reset_index().sort_values(['feature3','time'], ascending=False)

    d = df_sorted.as_matrix()

    len_ = df_sorted.shape[0]
    result = np.zeros(shape=(len_))

    for i in tqdm_notebook(range(len_)):
        count = 0
        for j in range(i+1, len_):
                if abs(d[i,1] - d[j,1]) <= dT:
                    if d[i,2] == d[j,2]:
                        count += 1
                    else:
                        break
        result[int(d[i,0])] = count

    return print('You can see the file in the directory you have chosen')

if __name__ == '__main__':
    try:
        incidents(sys.argv[1], sys.argv[2], float(sys.argv[3]))
    except Exception as e:
        print(e)

list index out of range

In [311]:
%%time
import pandas as pd
from tqdm import tqdm_notebook
dT = 0.3

df = pd.read_csv('./incidents.csv', index_col='id')

df['feature3'] = (df.feature1 * 100).astype('str') + df.feature2.astype('str')
df = df.loc[:,['time','feature3']]
df_sorted = df.reset_index().sort_values(['feature3','time'], ascending=False)

d = df_sorted.as_matrix()

len_ = df_sorted.shape[0]
result = np.zeros(shape=(len_))

for i in tqdm_notebook(range(len_)):
    count = 0
    for j in range(i+1, len_):
            if abs(d[i,1] - d[j,1]) <= dT:
                if d[i,2] == d[j,2]:
                    count += 1
                else:
                    break
    result[int(d[i,0])] = count

df_result = pd.DataFrame(result, columns=['count'], dtype='int32')
df_result.to_csv('./result.csv', index=True, index_label= 'id', sep=';')

HBox(children=(IntProgress(value=0, max=1000000), HTML(value='')))

CPU times: user 40.9 s, sys: 1.12 s, total: 42 s
Wall time: 41.5 s

In [309]:
df_result.head()

   id  count
0   0     27
1   1     30
2   2     30
3   3     27
4   4     26